<% content_for :title do %>
  <title>Services | ToS;DR Phoenix</title>
<% end %>

<br>
<div id="dynamic-services-table" v-cloak>
  <div class="card-inline">
    <div class="card-inline-item card-inline-service">
      <div class="row">
        <div class="col-lg-6">
          <h1>Services</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <%= render "shared/search_vue" %>
        </div>

        <div class="col-lg-6 text-right justify-content-end">
          <button class="btn btn-success" v-on:click="sortServices">Order Services by Rating</button>
          <div class="">
            <% if current_user && current_user.curator %>
              <%= link_to 'Add Service', new_service_path, class: 'btn btn-primary', title: "Add a new Service." %>
            <% else %>
                <a class="btn btn-primary" href="https://forum.tosdr.org/request" title="Request a new Service to be added.">Request Service</a>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="loading" v-if="loading">
        Loading...
      </div>
      <div class="" v-else>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name of Service</th>
                <th scope="col">Rating</th>
                <th scope="col">View</th>
                <th scope="col">Documents</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="myTableBody">
              <tr class="toSort" v-for="service in filteredServices" :key="service" v-bind:data-classification="service.service.rating">
                <td>
                  {{ service.service.name }}
                </td>
                <td> <!--Guennadi: Not sure whether the JSON will get parsed if hyperlinked.-->
                  <% unless current_user %>
                      <a href="https://tosdr.org/classification" title="More about our rating system." target="_blank">
                  <% end %>
                   {{ service.service.rating }} 
                  <% unless current_user %>
                      </a>
                  <% end %>
                </td>
                
                <td class="text-right">
                  <a class='btn btn-primary' v-bind:href="'/services/'+ service.service.id"> Details </a>
                </td>
                <td class="text-right">
                  <a class='btn btn-primary' v-bind:href="'/services/'+ service.service.id + '/annotate'"> <% if current_user %>Annotate<% else %>Read<% end %> </a>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
